.hidestyle{
    width: "500px";
    height: "600px";
    position: "absolute";
    right: "700px";
    opacity:0;
    
};

.showstyle {
    width: "500px";
    height: "600px";
    position: "absolute";
    right: "700px";
    
};
.buttonhide {
    width: "500px";
    height: "600px";
    position: "absolute";
    right: "700px";
    cursor: 'pointer';
    z-index: "2";
    opacity:0;
    padding:'10px';

    
};

.buttonshow {
    width: "500px";
    height: "600px";
    position: "absolute";
    right: "700px";
    cursor: 'pointer';
    z-index: "2";
};