@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
}

.container {
  padding: 40px;
}
.header {
  justify-content: space-between;
  align-items: center;
  color: rgba(12, 12, 12, 0.842);
  margin-bottom: 20px;
  margin-top: 20px;
}

.box {
  max-width: 600px;
  min-height: 800px;
  margin: 30px auto;
  text-align: center;
  padding: 40px;
  border: none;
  border-radius: 20px;
  position: relative;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.picturebox{
    width: 100px;
    height: 100px;
    display: block;
}
.buttonbox {
  max-width: 500px;
  min-height: 60px;
  padding: 20px 20px;
  font-size: 25px;
  margin: 30px auto;
  text-align: center;
  background: rgb(230, 228, 228);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: auto;
  
}
.buttonbox:focus {
  outline: none;
}

.buttonbox:active {
  transform: scale(0.98);
}

.buttonbox-block {
  display: block;
  width: 100%;
}


.abshighlight{
  width: "500px";
  height: "600px";
  position: "absolute";
  right: "700px";
}

